.schedule-container {
    width: 90%;
    margin: 0 auto;
    padding: 2em 0;
}

.schedule-container .slick-slide {
    padding: 1em;
}

.schedule-container .slick-slider {
    overflow: hidden;
}

.schedule-container .slick-list {
    overflow: visible !important;
}

.schedule-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
    padding: 0 16px;
}

.sliderButtons {
    display: none;
    justify-content: right;
    align-items: right;
    gap: 12px;
    margin-bottom: 12px;
}

button.slider-button {
    background-color: var(--primary-nebraska-red);
    width: 40px;
    height: 40px;
    font-size: 1.2em;
    border: none;
    border-radius: 20px;
}

button.slider-button:hover {
    background-color: var(--primary-nebraska-red-active);
    cursor: pointer;
}

.schedule-item {
    text-align: center;
    background-color: #fdfcfc;
    border:1px solid #eee;
    border-radius: 8px;
    box-shadow: rgb(74 74 74 / 10%) 4px 5px 8px;
    color: var(--black-60);
    padding: 28px 12px;
}

.schedule-image {
    height: 60px;
    width: auto;
    margin-bottom: 12px;
    margin: 0 auto;
    display: block;
}

.date {
    font-weight: 700;
    margin-bottom: 48px;
    color: var(--black-80);
    font-size: 12px;
    text-transform: uppercase;
}

.schedule-header-text {
    color: #242424;
}

.schedule-item h2 {
    font-size: 1.4em;
    margin-top: 20px;
    color: #242424;
}

.schedule-item h3 {
    font-size: 1em;
    margin-bottom: 20px;
    color: var(--black-70);
    font-weight: 400;
}

.score-time-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-bottom: 40px;
    font-size: 1.3em;
}

.score-time-container span {
    color: var(--primary-nebraska-red);
    font-weight: 600;
}

.playTime {
    color: var(--primary-nebraska-red);
    font-weight: 600;
    font-size: 0.8em;
    padding-top: 6px;
}

.finalScore {
    color: var(--text-dark);
    font-weight: 700;
}

.watch-logo {
    height: 20px;
    width: auto;
    margin: 0 auto;
    margin-bottom: 4px;
    vertical-align: middle;
}

.watch-link {
    text-align: center;
    color: var(--primary-nebraska-red);
    font-weight: 600;
    text-decoration: none;
    padding: 0 .5em;
}

.watch-link:hover {
    color: var(--primary-nebraska-red-active)
}

@media screen and (min-width: 768px) {
    .schedule-container {
        max-width: 1400px;
        width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
        font-size: 30px !important;
        opacity: 1 !important;
        
    }

    .slick-prev {
        left: 10px !important;
        z-index: 1;
    }

    .slick-next {
        right: 40px !important;
        z-index: 1;
    }

    .schedule-header {
        justify-content: space-between;
    }

    .sliderButtons {
        display: flex;
    }
}