:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: #fff;
    background-color: #fff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Global Variables */
    --white-60: rgba(255, 255, 255, 0.6);
    --white-70: rgba(255, 255, 255, 0.7);
    --white-80: rgba(255, 255, 255, 0.8);
    --white-90: rgba(255, 255, 255, 0.9);
    --black-10: rgba(0, 0, 0, .10);
    --black-20: rgba(0, 0, 0, .20);
    --black-30: rgba(0, 0, 0, .30);
    --black-40: rgba(0, 0, 0, .40);
    --black-50: rgba(0, 0, 0, .50);
    --black-60: rgba(0, 0, 0, .60);
    --text-dark: #242424;
    --primary-nebraska-red: #d10000;
    --primary-nebraska-red-dark: #b00000;
    --primary-nebraska-red-active: #8c0000;
    --primary-contrast: #ffffff;
    --btn-disabled-bg: #f2f2f2;
    --btn-disabled-text: #9b9b9b;
    --focus-ring: rgba(255, 193, 7, 0.9);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.primary-button {
    border: 0;
    border-radius: 4px;
    background-color: #fff;
    color: var(--primary-nebraska-red);
    padding: 1em 3em;
    align-content: end;
    margin-left: auto;
    font-weight: 700;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 1px -2px, rgba(0, 0, 0, .14) 0 2px 2px 0, rgba(0, 0, 0, .12) 0 1px 5px 0;
    transition: all .2s cubic-bezier(.22, .61, .36, 1);
}

.primary-button:hover {
    cursor: pointer;
    background-color: #fff;
    transform: translateY(-2px);
    box-shadow: rgba(0, 0, 0, .2) 0 2px 4px -1px, rgba(0, 0, 0, .14) 0 4px 5px 0, rgba(0, 0, 0, .12) 0 1px 10px 0;
}

.button-desktop-only {
    visibility: hidden;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    min-height: 790px;
}

/* General styling */

.text-center {
    text-align: center;
}

.margin-bottom-small {
    margin-bottom: 0.6em;
}

.margin-bottom-medium {
    margin-bottom: 1.2em;
}

.margin-bottom-large {
    margin-bottom: 2.5em;
}

h2 {
    color: var(--text-dark);
}

/* @media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    .primary-button {
        color: var(--primary-nebraska-red);
    }
} */

@media screen and (min-width: 768px) {
    .button-desktop-only {
        visibility: visible;
    }

    .container {
        max-width: 80%;
    }
}