/* Nav styling */

nav {
    background-color: var(--primary-nebraska-red);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 999;
}

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    gap: 3em;
    padding: 1.3em 2em;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 3.5em;
    height: auto;
    font-weight: bold;
    background-color: var(--primary-nebraska-red);
}

.hamburger {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    display: block;
}

/* Desktop nav links */
.nav-links {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline-block;
    margin-left: 20px;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    padding: 1em 0;
    transition: all 0.3s ease-out;
}

.nav-links a {
    color: #fff;
    margin-left: 1em;
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
}

.nav-links li:has(a:hover) {
    border-bottom: 2px solid #fff;
    transform: translateY(-3px);
}

/* Side Menu */
.side-menu {
    position: fixed;
    top: 0;
    left: -75%;
    width: 75%;
    height: 100vh;
    background: var(--primary-nebraska-red);
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
    transition: left 0.3s ease;
    z-index: 10;
}

.side-menu-links {
    list-style: none;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    padding-top: 1.5em;
}

.side-menu-links li {
    padding: 20px;
    align-items: center;
}

.side-menu-links li:hover, .side-menu-links li:hover > a {
    background-color: #fff;
    color: var(--primary-nebraska-red);
}


.side-menu-links a {
    color: #fff;
    margin-left: 1.3em;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
}

.side-menu.open {
    left: 0;
}

.side-menu-logo {
    width: 25%;
    display: block;
    margin: 4em auto 2.5em;
}

.side-menu-cta {
    border: 1px solid rgba(255, 255, 255, 0.6);
    padding: 1.5em;
    width: 90%;
    margin: 0 auto;
    border-radius: 8px;
}

.close-btn {
    position: absolute;
    right: 0.6em;
    background: none;
    border: none;
    font-size: 1.8em;
    cursor: pointer;
    margin: 0.3em auto 0.2em 0.3em;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 5;
}

.buy-tickets-button {
    margin-left: auto;
}

@media screen and (min-width: 768px) {

    /* Nav desktop styling */
    nav {
        width: 100%;
    }

    .navbar {
        margin: 0 auto;
        width: 100%;
        padding: 1.3em 5em;
    }

    .nav-links {
        display: flex;
        gap: 1.2em;
    }

    .logo {
        position: static;
        transform: none;
    }
    
    .side-menu {
        left: -15%;
        width: 15%;
    }

    .side-menu-links a {
        color: #fff;
        margin-left: 1.3em;
        font-size: 1.2em;
        font-weight: 500;
        text-decoration: none;
    }

}

@media screen and (min-width: 768px) and (max-width: 896px) {
    .nav-links li {
        text-align: center;
    }

    .nav-links a {
        margin-left: 0;
    }

    .side-menu {
        left: -50%;
        width: 50%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1132px) {
    /* Tablet padding adjustment */
    .navbar {
        padding: 1.3em 2em;
    }
    
    .side-menu {
        left: -50%;
        width: 50%;
    }
}