#stats {
    width: 100%;
}

#stats p.card-jersey-number {
    font-size: 1.2em;
}

.stats-container p, .stats-container td {
    color: var(--text-dark);
    text-align:center;
}

.stats-container {
    scroll-margin-top: 120px;
}

.stats-desktop-container {
    display: none;
    padding: 3em 6em;
}

.stats-mobile-container {
    display: block;
    padding: 4em 2em;
}

.stats-container table { 
    overflow-x: auto;
    overflow-y: auto;
}

.stats-container table thead td {
    font-weight: 700;
    color: var(--text-dark);
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    font-size: 0.9em;
}

tr.stats-row td, .stats-container thead tr td{
    padding: 12px;
    border-bottom: 1px solid #e0e0e0;
}

tr.stats-row:nth-child(even) {
    background-color: #fff;
}

tr.stats-row:nth-child(odd) {
    background-color: #f3f3f3;
}

.stats-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.toggle-container {
    padding: 0.35em;
    background-color: #f3f3f3;
    border-radius: 50px;
    margin-top: 12px;
}

.toggle-container button.toggle-button {
    padding: 12px 20px;
    border-radius: 20px;
    border: 0;
    color: var(--text-dark);
    font-weight: 600;
    background-color: #f3f3f3;
    cursor: pointer;
}

.toggle-container button:not(.active):hover {
    color: var(--primary-nebraska-red)
}

.toggle-container button.active {
    color: #fff;
    background-color: var(--primary-nebraska-red);
}

/* Mobile Stats Card */
.stats-card-container {
    text-align: center;
    padding: 0 0.2em;
}

.stats-card {
    color: var(--text-dark);
    text-align: center;
    border: 1px solid var(--primary-nebraska-red);
    border-radius: 8px;
    margin-top: 16px;
    
}

.stats-card h3 {
    background-color: var(--primary-nebraska-red);
    border-radius: 6px 6px 2px 2px;
    padding: 8px 0;
    color: #fff;
    font-weight: 400;
}

.stats-card .card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 16px 12px 20px 12px;
    font-size: 1.2em;
}

.stats-card p.general-card-titles{
    font-weight: 700;
    margin-bottom: 4px;
}

/* Stats next / prev buttons */
.stats-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.stats-slider-button {
    padding: 16px;
    width: 125px;
    border-radius: 4px;
    border: 0;
    background-color: var(--primary-nebraska-red);
    font-size: 1em;
    font-weight: 600;
}


@media screen and (min-width: 768px) {
    .stats-desktop-container table {
        min-width: 100%;
        border: 1px solid #e0e0e0;
    }

    .stats-desktop-container {
        display: block;
    }

    .stats-mobile-container {
        display: none;
    }

    .toggle-container {
        margin-top: 0;
    }

    
}

@media screen  and (min-width: 535px) {
    .stats-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1em;
    }

    .toggle-container {
        margin-top: 0;
    }
}