/* Slides styles */
.slider-container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding-top: 5em;
}

.slide {
    height: 650px;
    position: relative;
    background-color: #000;
}

.slide-image {
    width: 100%;
    height: 100%;
    object-fit: none;
    opacity: 1;
}

.slick-prev:before,
.slick-next:before {
    opacity: 0 !important;
}

.slick-prev {
    left: 10px !important;
    z-index: 1;
}

.slick-next {
    right: 40px !important;
    z-index: 1;
}

/* Slide Text Styling */
.slide hgroup {
    position: relative;
    width: 80%;
    color: #333;
    background: white;
    border-top: 2px solid var(--primary-nebraska-red);
    z-index: 2;
    top: -15em;
    left: 0;
    padding: 2em 1em;
    margin: 0 auto;
    text-align: center;
}

.slide h1 {
    font-size: 2.5em;
    line-height: 1em;
    margin-bottom: 0.5em;
    font-weight: 700;
}

.slide h2 {
    font-size: 1.5em;
    line-height: 1.2em;
    color: #404040;
    font-weight: 600;
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid var(--black-30);
}

/* Button styling */
.slick-dots {
    display: none !important;
    bottom: 5% !important;
}

.slick-dots li {
    display: block !important;
    margin: 5px 5% !important;
}

.slick-dots li,
.slick-dots li button {
    width: 15px !important;
    height: 15px !important;
    border-radius: 20px;
}

.slick-dots li button {
    background-color: #faeeee !important;
    opacity: 0.25 !important;
}

.slick-dots li.slick-active button {
    background-color: var(--primary-nebraska-red) !important;
    opacity: 1 !important;
}

.slick-dots li button:before {
    opacity: 0 !important;
}

@media screen and (min-width: 768px) {
    .slider-container {
        width: 95%;
        margin: 0 auto;
        padding: 9em 0 2em 0;
    }
    
    .slide {
        height: 700px;
    }

    .slide-image {
        object-fit: cover;
    }

    .slick-dots {
        display: block !important;
    }

    .slick-dots li {
        display: inline-block !important;
        margin: 0 5px !important;
    }

    .slick-dots li, 
    .slick-dots li button {
        width: 80px !important;
        height: 10px !important;
        border-radius: 20px;
    }

    .slide hgroup {
        position: absolute;
        width: 100%;
        color: white;
        background: linear-gradient(0deg, #000000e3 30%, transparent);
        border-top: none;
        z-index: 2;
        top: auto;
        bottom: 0;
        left: 0;
        padding: 7em 5em;
        text-align: left;
    }

    .slide h1 {
        font-size: 4em;
        line-height: 1em;
        margin-bottom: 0.25em;
    }

    .slide h2 {
        font-size: 2em;
        line-height: 1.2em;
        color: #fff;
        border-top: none;
        margin: 0;
    }
}