.sponsors-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4em;
}

.sponsor-item {
    padding: 2em;
}

.sponsor-item img {
    max-width: 150px;
    max-height: 55px;
}